<div>
    <div class="row">
        {{#if messages.failure}}
            <h4 class="bg-danger text-white flash w-100">{{messages.failure}}</h4>
        {{else if messages.info}}
            <h4 class="bg-success text-white flash w-100">{{messages.info}}</h4>
        {{/if}}
    </div>
    <div class="offset-md-2 col-md-5 ticket">
        <h2 class="offset-md-4">Ticket</h2>
        <form action="/menu" method="POST">
            <input name="user" type="hidden" value="{{user}}"/>
            <br>
            <div class="row offset-md-1">
                <label class="col-md-3">Appetizer</label>
                <select name ="appetizer" class="offset-md-1 col-md-6 select0">
                    {{#if appetizer}}
                        <option value="{{appetizer}}">{{appetizer}}</option>
                    {{/if}}
                    <option value="">None</option>
                    {{#each appetizerList}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="row offset-md-1">
                <label class="col-md-3">Protein</label>
                <select name="protein" class="offset-md-1 col-md-6 select0">
                    {{#if protein}}
                        <option value="{{protein}}">{{protein}}</option>
                    {{/if}}
                    <option value="">None</option>
                    {{#each proteinList}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="row offset-md-1">
                <label class="col-md-3">Carb</label>
                <select name="carb" class="offset-md-1 col-md-6 select0">
                    {{#if carb}}
                        <option value="{{carb}}">{{carb}}</option>
                    {{/if}}
                    <option value="">None</option>
                    {{#each carbsList}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="row offset-md-1">
                <label class="col-md-3">Vegetable</label>
                <select name="vegetable" class="offset-md-1 col-md-6 select0">
                    {{#if vegetable}}
                        <option value="{{vegetable}}">{{vegetable}}</option>
                    {{/if}}
                    <option value="">None</option>
                    {{#each vegetableList}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="row offset-md-1">
                <label class="col-md-3">Sides</label>
                <select name="sides" class="offset-md-1 col-md-6 select0">
                    {{#if sides}}
                        <option value="{{sides}}">{{sides}}</option>
                    {{/if}}
                    <option value="">None</option>
                    {{#each sidesList}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <br><br>
            <input type="submit" class="offset-md-9 order" value="Place Order"/>
        </form>
    </div>
</div>